.autocomplete {

  &__input {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: honeydew;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
  }
  &__wrapper {
    width: 700px;
    max-width: 90%;
    text-align: center;
    margin: auto;
    position: relative;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  }

  &__container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
    position: absolute;
    width: 100%;
  }
}

.suggestion {

  &__item {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;

    &--active {
      background-color: #fafafa;
      text-align: left;

    }
  }
}
